This calculation is based on the paper used in the website:
https://smm.misis.ru/CPW-resonator-coupling/

In [1]:
from сonformal_mapping import *
import numpy as np
import pandas as pd

an **epsilon value** of an used dielectric wafer can be changed inside the сonformal_mapping library

the **default value is 11.45**

# Used structure

picture is taken from the website specified above

![alt text](example.png "Title")

write down the widths of lines and spaces sequentially: AB,BC...

In [10]:
result=ConformalMapping([1,2,3,4,5])

In [11]:
C, L = result.cl_and_Ll()
cap, ind=pd.DataFrame(C*1e12),pd.DataFrame(L*1e9)

In [12]:
cap

            0           1
0  149.733599  -42.698129
1  -42.698129  142.862403

In [13]:
ind

            0           1
0  505.668213  151.132040
1  151.132040  529.989135